@font-face {
    font-family: "Post No Bills Colombo extrabold";
    src: url('./assets/fonts/post-no-bills-colombo.extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

